<h2>Things</h2>

<table>
  <thead>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <% @things.each do |thing| %>
      <tr>
        <td><%= thing.name %></td>
        <td><%= link_to('Show', thing) %></td>
        <td><%= link_to('Edit', edit_thing_path(thing)) %></td>
        <td><%= button_to('Destroy', thing, method: :delete) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to('New Thing', new_thing_path) %>
